@import "reset";
@import "base";
@import "invalid";

#main-content {
  margin: 0 30px 0 30px;
  padding: 40px 0 0 0;
}

label {
  font-weight: 700;
}

li {
  display: block;
  margin-bottom: 1.5em;
}

.fancybox-inner #main-content ul li {
    background-image: none;
    list-style-type: none;
    margin-bottom: 0em;
}